# Python


Python est un langage de programmation très réputé pour l'écriture et la manipulation de structures de données.

Comme tout langage de programmation, Python possède un **vocabulaire** (des mots clés) et des **règles de grammaire** (comment agencer les mots clés).

Python est un langage **interprété**, les mots clés que nous allons utiliser dans nos lignes de code seront lues par un **interpreteur** qui "dira quoi faire à notre machine".

Il est beaucoup utilisé dans le monde de la data car il possède de nombreuses bibliothèques mathématiques (morceaux de code réutilisables) accessibles/utiles pour les développeurs.

Afin d'écrire et exécuter du Python. Deux méthodes différentes s'offrent à nous :

- utiliser **l'interpréteur** de commande Python en tapant simplement la commande `python` dans la console et écrire ensuite les instructions les unes après les autres

- écrire une suite d'instructions dans un seul et même **fichier** Python. Nous passerons ensuite à l'interpréteur Python le fichier en **paramètre**. L'interpréteur se chargera de lire les instructions de haut en bas et de les exécuter les unes après les autres.

* Mise en place de l’environnement de travail

Anaconda est une distribution scientifique de Python : c’est-à-dire qu’en installant Anaconda, vous installerez Python, Jupyter Notebook et des dizaines de packages scientifiques, dont certains indispensables à l’analyse de données et à la DataScience en général !

Pour commencer, téléchargez la distribution Anaconda correspondant à votre système d’exploitation, en Python version 3 : https://www.anaconda.com/distribution/


Les notebooks Jupyter sont particulièrement adaptés à l'analyse de données .

Pour lancer les notebooks Jupyter, utilisez la commande suivante depuis un anaconda powershell :
jupyter-notebook

# Commenter le code

Avant toute chose, il convient de parler des commentaires ! C'est certainement une des choses les plus importantes que l'on écrit lorsque l'on code. Ce sont des lignes de code qui ne seront pas interprétées mais qui donnent des indications primordiales pour les programmeurs qui liront le code (y compris vous dans quelques mois / années).

In [ ]:
# Voici comment j'écris un commentaire en Python : en démarrant ma ligne de code par le caractère #
# C'est vraiment très important de documenter son code en mettant des bons commentaires pour les futurs développeur•euse•s

print('Hello World!!')

Hello World!!

# Variable , type de données et Opérations de base

Les**variables**, C'est des blocs de la mémoire de l'ordinateur que le programme va réserver pour y stocker des données (un age, un prénom, la liste des numéros de sécu des inscrits, votre adresse IP, ...). Chaque variable aura un **type de données** associé (un age sera un nombre, un prénom sera une chaîne de caractères, ...)

Pour **déclarer** une variable en Python il suffit de donner un nom à notre variable et de lui donner une valeur.

In [2]:
data_analyst = True
age = 30
prenom = "Jean"

In [3]:
print(prenom)

Jean

## Les booléens

Le type de données élémentaire à connaître qui est à la base de l'informatique d'aujourd'hui est le booléen. Il s'agit d'un type de données qui n'a que deux valeurs possibles : `True`ou `False`. Cela correspond au `0` et au `1` du binaire. Nous l'utiliserons beaucoup lorsque nous aborderons les conditions.

![image.png](attachment:image.png)


![image-2.png](attachment:image-2.png)

In [4]:
a = True
print(type(a))

print(a)

b = not(a)
print(b)

<class 'bool'>
True
False

## Les nombres, Types numériques — int, float, complex

Deux grand types de nombre utiles : les `int` qui représentent les nombres entiers et les `float` qui représentent les nombres décimaux.

![image.png](attachment:image.png)

In [5]:
# variable age
age = 30

# Ma taille en cm
taille = 184.5
print(age,taille)
type(taille)

30 184.5

float

In [6]:
print("taille =", taille)
## affichage formate :
print("{}".format("-"*23))
print("taille = {:.4f}".format(taille)) # arrondi a 2 chiffres

taille = 184.5
-----------------------
taille = 184.5000

In [11]:
soldeCompte = 150
depot = 105
retrait = 20
pourcentage = 0.3
nouveauSolde = 0

#Addition
nouveauSolde = nouveauSolde + depot
print(nouveauSolde)

#Soustraction
nouveauSolde = soldeCompte - retrait
print(nouveauSolde)

#Multiplication
nouveauSolde = soldeCompte * 0.3
print(nouveauSolde)

105
130
45.0

In [9]:
nbPartPizza = 9
nbPersonne = 2

nbPart = 9/2
print(nbPartPizza / nbPersonne)
print(nbPartPizza // nbPersonne)
print(nbPartPizza % nbPersonne)

4.5
4
1

Les priorités de calcul sont les priorités habituelles, on peut utiliser des parenthèses.

In [12]:
a = (2+4)*3 # 18
b = 2+(4*3) # ?
print(b)

14

Pour plus de détails : [La documentation officielle de Python](https://docs.python.org/fr/3/tutorial/introduction.html#numbers)

## Les chaînes de caractères

Afin de stocker du texte (un prénom, un nom, une phrase, ...) nous utiliserons les `str` qui représentent les chaînes de caractères. Il y a deux méthodes pour déclarer un `str` (avec guillemets simples ou doubles):


Les guillemets simples : 'autorisent les "guillemets"'

Les guillemets : "autorisent les guillemets 'simples'".

Guillemets triples : '''Trois guillemets simples''', """Trois guillemets"""

In [16]:
prenom = "Jean"
nom = 'Dupont'
print(prenom, nom)
passions = """
- Films
- Self-Hacking
- voyage"""
print ("Les passions de {} sont: {}.". format (prenom , passions ) )
print("the name is {} {} and the passion is {}".format(prenom,nom,passions))
print(prenom+passions)

Jean Dupont
Les passions de Jean sont:
- Films
- Self-Hacking
- voyage.
the name is Jean Dupont and the passion is
- Films
- Self-Hacking
- voyage
Jean
- Films
- Self-Hacking
- voyage

In [17]:
nom = input("ton nom ? ")
print(nom)

ton nom ? reetika
reetika

In [19]:
type(nom)

str

Dans cette dernière citation, j'ai besoin **d'échapper** le guillemet simple afin qu'il ne soit pas interprété comme la fin de la chaîne de caractères. On utilise dans ce cas le caractère `backslash`.

On peut aussi avoir besoin d'écrire une chaine de caractères qui contient plusieurs lignes de texte. Dans ce cas, deux solutions : utiliser le caractère spécial `\n` pour indiquer un retour à la ligne ou utiliser le commentaire multiligne.

Pour plus de détails : [La documentation officielle de Python](https://docs.python.org/fr/3/tutorial/introduction.html#strings)

In [ ]:
print(nom.capitalize())
print(nom.isupper())

Manel
False

la suite des fonctions sur les chaines de caractères : https://docs.python.org/fr/3/library/stdtypes.html#text-sequence-type-str

* Opérations avec des chaînes

On peut concaténer (mettre bout à bout) des chaînes de caractères avec l'opérateur +.

In [20]:
nom = "Odile"
age = 34

#presentation = "Bonjour, je m'appelle "+nom+ " et j'ai "+age+ " ans" # ne fonctionne pas, il faut convertir d'abord age en chaîne
presentation2 = "Bonjour, je m'appelle "+nom+ " et j'ai "+str(age)+ " ans"
print(presentation2)

Bonjour, je m'appelle Odile et j'ai 34 ans

On peut aussi utiliser d'autres opérations arithmétiques avec du texte.

In [21]:
initial = "Hello "
magic = 3*initial

print(magic)

Hello Hello Hello

## Comparaison

Les relations d'ordre produisent des booleans. Ils se basent sur l'ordre lexicographique (du dictionnaire).

In [22]:
18 < 22 # True
3*5 < 10 # False
2*3 <= 6 # True
"la ligne rouge" > "la ligne orange" # False
"rocky3" > 2 # erreur

TypeError: '>' not supported between instances of 'str' and 'int'

## Egalité

On compare des variables avec **==**, puisque le **=** est déjà utilisé pour l'affectation. Cela produit aussi un boolean.

In [23]:
line1 = "Nah nah nah nah nah nah nah nah nah yeah";
line2 = "Nah nah nah nah nah nah, nah nah nah, hey Jude";
line3 = "Nah nah nah nah nah nah, nah nah nah, hey Jude";

print(line1 == line2)
print(line2 == line3)

isDifferent = line2 == line3 # il est vrai que ces lignes ne sont pas égales!
print(isDifferent)

False
True
True

# Les Structures conditionnelles

Pour effectuer un bloc d'instructions si une condition est vraie, on utilise le mot-clé **if**. Pour délimiter la taille du bloc d'instructions, on utilise l'indentation.

Si la condition est vraie, on exécute les instructions du blocs. Sinon on saute le bloc.
On peut ajouter un bloc à exécuter seulement si la condition est fausse avec **else**.

On peut aussi ajouter d'autres conditions intermédiaires avec **elif**, a exécuter seulement si les précédentes sont fausses.

In [25]:
age = 120

if age < 0 or age>110 :
    print("merci d'entrer un age valide ")

elif age < 3 : # on ne rentre pas ici si on est déjà entré dans le cas d'avant
    print("tarif : gratuit")

elif age < 18 :
    print("tarif : réduit")

elif age > 65 :
    print("tarif : réduit")

else : # dans tous les autres cas
    print("tarif : normal")

merci d'entrer un age valide

Une erreur classique est d'utiliser un **or** lorsqu'il faudrait un **and** ou inversement. Ici par exemple, un age qui est inférieur à 18 **et** supérieur à 65 n'existe pas, il fallait bien utiliser **ou**.

# Les listes

Il est souvent pratique de gérer plusieurs variables à l'aide de listes (ou de tableaux).

In [26]:
eleve1 = "sam"
eleve2 = "bob"
eleve3 = "jean"
# etc ...

Les éléments sont entre crochets et séparés par des virgules.

In [27]:
eleves = ["sam", "bob", "jean"]
# une seule variable !
eleves

['sam', 'bob', 'jean']

On peut faire des listes de nombres, de chaînes, de booléens, etc ...

In [28]:
listeNb = [1,2,3]
listeMot = ['fraise', 'orange', 'Mangue']
listeMixe = ['odile', 2, 'ray']

listeNb.reverse() # fonction de base
listeMot.sort() # trie en place
len(listeMot) # taille de la liste

3

## Indices

Les éléments sont numérotés à partir de 0. On accède aux éléments avec **[]**

In [29]:
eleves = ["sam", "bob", "jean", "odile"]
print(eleves[1]) # l'élément n°1 de la liste est bob

bob

On peut extraire une sous-liste avec **:**

In [30]:
eleves = ["sam", "bob", "al", "odile"]
print(eleves[1:3]) # les éléments 1 à 3 (exclu)
print(eleves[1:]) # tous les éléments à partir du 1

['bob', 'al']
['bob', 'al', 'odile']

Pour plus de détails : [La documentation officielle de Python](https://docs.python.org/fr/3/tutorial/introduction.html#lists)

## Range

Python sait aussi compter! pour générer une liste de nombre, on utilise simplement la fonction **range**

* La fonction range() se définit liée à la fonction list()comme suit: range(valeur_initiale, borne_de_fin, pas)

Pour plus de détails : [La documentation officielle de Python](https://docs.python.org/fr/3/tutorial/controlflow.html#the-range-function)

In [45]:
liste = range(2,10) # de 2 jusqu'à 10 (exclu)
liste2 = range(50) # de 0 jusqu'à 50 (exclu)
liste3 = range(50,1,-1)
print(liste3)

range(50, 1, -1)

In [46]:
list(liste3)

[50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2]

Les listes sont un type de structure de données qui permet de stocker un ensemble de valeur.

In [38]:
a = list(range(1000))
print(a[0])
print(a[-1])

0
999

## Ajouter/Modifier/Supprimer des éléments

La fonction len() renvoie le nombre d’éléments. Par exemple :

In [40]:
a = list(range(7,10))
print(a)
len(a)

[7, 8, 9]

3

Interpréter ce résultat ?

In [47]:
b = a*4
print(b)

[7, 8, 9, 5, 7, 8, 9, 5, 7, 8, 9, 5, 7, 8, 9, 5]

Ajouter des éléments à une liste:

In [48]:
a.append(5)
print(a)

[7, 8, 9, 5, 5]

il est possible de mélanger dans une même liste des variables de type différent. On peut aussi mettre une liste dans une liste.

Compléter le code ci dessous et interpréter les outputs.

In [49]:
# On construit une liste avec des crochets []
liste1 = [ 1, 2 ]
# on peut mélanger les types dans une liste
liste2 = [ "trois", 4.1]

#additionner 2 listes
liste = liste1 + liste2

#Ajouter dans liste l'élement "cinq"
liste.append("cinq")

#Afficher le contenu des 3 listes
print(liste1)
print(liste2)
print(liste)

[1, 2]
['trois', 4.1]
[1, 2, 'trois', 4.1, 'cinq']

* supprimer des élements d'une liste:

1- avec del : del variable_a_supprimer.

2- avec la méthode remove: qui prend en paramètre l'élément (et non pas l'indice de l'élément à supprimer (pop).

In [50]:
print(apprenants)
del apprenants [0]
print(apprenants)
apprenants.remove('Céline')
print(apprenants)

NameError: name 'apprenants' is not defined

In [ ]:
print(apprenants)
apprenants[:1:-1]

['françois', 'Yassine', 'Céline']

['Céline']

Pour plus de détails : [La documentation officielle de Python](https://docs.python.org/fr/3/tutorial/controlflow.html#the-range-function)

# Boucles

On va parler ici de répétitions. C'est quelque chose qu'un programme sait très bien faire, répéter plusieurs fois (parfois un grand nombre) un bloc d'instructions.

## While (tant que)

Tant que tu n'auras pas fini ta purée, tu n'auras pas de dessert!

In [51]:
i = 10

while i > 0 : # i > 0 est une condition, comme pour le if
    print("je continue mon décompte")
    i = i -1

print( "j'ai fini")

je continue mon décompte
je continue mon décompte
je continue mon décompte
je continue mon décompte
je continue mon décompte
je continue mon décompte
je continue mon décompte
je continue mon décompte
je continue mon décompte
je continue mon décompte
j'ai fini

## For (pour)

Si on veut faire le même traitement pour chaque élément d'une liste, il suffit d'utiliser le mot **pour**, mais en anglais. Dans ce cas, on doit choisir un nom pour l'élément courant à parcourir.

In [52]:
eleveListe = ["François", "Yassine", "Céline", "Odile"]
#print("bonjour "+eleveListe[0])
for eleve in eleveListe : # on commence toujours un bloc avec :
    print("bonjour "+eleve)

bonjour François
bonjour Yassine
bonjour Céline
bonjour Odile

In [53]:
for i , elt in enumerate ( eleveListe ) :
    print (" À l ' indice {} se trouve {}.". format (i , elt ) )
    print (" {} se trouve à l'indice {}.". format ( elt ,i ) )

 À l ' indice 0 se trouve François.
 François se trouve à l'indice 0.
 À l ' indice 1 se trouve Yassine.
 Yassine se trouve à l'indice 1.
 À l ' indice 2 se trouve Céline.
 Céline se trouve à l'indice 2.
 À l ' indice 3 se trouve Odile.
 Odile se trouve à l'indice 3.

Ou aussi avec des nombres, pour répéter 100 fois une action (utile!).

In [ ]:
for i in range(10) :
    print(str(i)+" Hello!")

0 Hello!
1 Hello!
2 Hello!
3 Hello!
4 Hello!
5 Hello!
6 Hello!
7 Hello!
8 Hello!
9 Hello!

Ou encore si je veux remplir une liste au fur et à mesure avec des entrée utilisateur :

In [54]:
n = int(input("combien de personnes? "))

personnes = [] # au début, on crée une liste vide

for i in range(n) : # le nombre n est le nombre de répétitions à faire
    nom = input("entrez le nom de la personne n°"+ str(i))
    personnes.append(nom) # la fonction append permet d'ajouter à la fin de la liste

for i in range(len(personnes)) :
    print("Bonjour "+personnes[i]) # personne[i] permet d'accéder à la personne de la liste d'indice i




# Ou encore
#for nom in personnes :
 #   print("Bonjour "+nom)

combien de personnes? 5
entrez le nom de la personne n°0ritu
entrez le nom de la personne n°1pratiush
entrez le nom de la personne n°2raju
entrez le nom de la personne n°3indira
entrez le nom de la personne n°4natan
Bonjour ritu
Bonjour pratiush
Bonjour raju
Bonjour indira
Bonjour natan

In [55]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

* Le mot-clé **break** permet tout simplement d'interrompre une boucle.

In [56]:
while 1 : # 1 est toujours vrai -> boucle infinie
    lettre = input (" Tapez 'Q' pour quitter : ")
    if lettre == "Q":
        print ("Fin de la boucle ")
        break

 Tapez 'Q' pour quitter : q
 Tapez 'Q' pour quitter : a
 Tapez 'Q' pour quitter : Q
Fin de la boucle

* Le mot-clé **continue**  permet de continuer une boucle, en repartant directement à la ligne du while ou for.

In [ ]:
i = 1
while i < 20 : # Tant que i est inf é rieure à 20
    if i % 3 == 0 :
        i += 4 # On ajoute 4 à i
        print ("On incrémente i de 4. i est maintenant égale à",i )
        continue # On retourne au while sans exécuter les autres lignes
        print ("La variable i =", i )
    print ("i=",i)
    i += 1 # Dans le cas classique on ajoute juste 1 à i

i= 1
i= 2
On incrémente i de 4. i est maintenant égale à 7
i= 7
i= 8
On incrémente i de 4. i est maintenant égale à 13
i= 13
i= 14
On incrémente i de 4. i est maintenant égale à 19
i= 19

Pour plus de détails : [La documentation officielle de Python](https://docs.python.org/fr/3/tutorial/controlflow.html#for-statements)

* Les listes & les chaînes de caractères -> avec la méthode split, il est parfois utile de transformer une chaine de caractère en liste. Créer une chaîne de caractère avec le texte suivant :

"Bonjour, l'intelligence artificielle c'est trop bien"

Utiliser split pour découper la chaîne de caractère en mots.

In [57]:
texte = "Bonjour, l'intelligence artificielle c'est trop bien"
print(texte)
a=texte.split()
print(len(a))
print( a)

Bonjour, l'intelligence artificielle c'est trop bien
6
['Bonjour,', "l'intelligence", 'artificielle', "c'est", 'trop', 'bien']

* L'inverse est il possible ? avec Quelle méthode?

Utiliser cette méthode pour stocker le contenu de cette liste en une chaine de caractère .

liste=["Ma formation","IA","démarre bien !"]

In [59]:

liste=["Ma formation","IA","démarre bien !"]
print(liste)
s = " "
s = s.join(liste)
print(s)
print(type(s))

['Ma formation', 'IA', 'démarre bien !']
Ma formation IA démarre bien !
<class 'str'>

# Les Sets


Les sets sont un type de donnée similaire aux listes mais avec quelques petites particularités..
un Set est défini par des accolades et non par des crochets (liste)

Un ensemble est une collection non ordonnée sans élément dupliqué. Parmi les utilisations basiques des sets on trouve les tests d'appartenance ou des suppressions de doublons

Pour plus de détails : [La documentation officielle de Python](https://docs.python.org/fr/3/tutorial/datastructures.html#sets)

* Créer une liste contenant les valeurs suivantes : [1, 2, 1, 3, 5, 6, 3]

A partir de cette liste précédente créer un set. Parcourir la liste précédente et le set et afficher les éléments.

In [60]:
liste= [1, 2, 1, 3, 5, 6, 3]
print(liste)

[1, 2, 1, 3, 5, 6, 3]

In [61]:
s=set(liste)
print(len(liste))
print(len(s))
print(set(liste))

7
5
{1, 2, 3, 5, 6}

 =>  cannot have multiple occurrences of the same element and store unordered values.
it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

In [63]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')
print(a )                                 # unique letters in a

print(a - b )                             # letters in a but not in b

print(a | b)                              # letters in a or b or both

print(a & b)                              # letters in both a and b

print(a ^ b)                              # letters in a or b but not both

{'d', 'b', 'r', 'c', 'a'}
{'r', 'd', 'b'}
{'d', 'b', 'l', 'r', 'c', 'z', 'm', 'a'}
{'c', 'a'}
{'d', 'b', 'l', 'r', 'm', 'z'}

# Les tuples

Un tuple est une liste qui ne peut plus être modifiée. On les utilise pour définir des constantes qui n'ont pas vocation à changer.
Un n-uplet consiste en différentes valeurs séparées par des virgules

In [ ]:
mon_tuple1 = (1, "Hello", "François",[1,2,3])
mon_tuple2 = 1, 2, 3
print(type(mon_tuple1))
print(type(mon_tuple2))

<class 'tuple'>
<class 'tuple'>

* les n-uplets sont toujours affichés entre parenthèses, de façon à ce que des n-uplets imbriqués soient interprétés correctement ; ils peuvent être saisis avec ou sans parenthèses, même si celles-ci sont souvent nécessaires (notamment lorsqu'un n-uplet fait partie d'une expression plus longue). Il n'est pas possible d'affecter de valeur à un élément d'un n-uplet ; par contre, il est possible de créer des n-uplets contenant des objets muables, comme des listes.

* Si les n-uplets peuvent sembler similaires aux listes, ils sont souvent utilisés dans des cas différents et pour des raisons différentes. Les n-uplets sont immuables et contiennent souvent des séquences hétérogènes d'éléments qui sont accédés par « dissociation » ou par indice (ou même par attributs dans le cas des namedtuples). Les listes sont souvent muables et contiennent des éléments généralement homogènes qui sont accédés par itération sur la liste.

[La Reference complete est ici](https://docs.python.org/fr/3/tutorial/datastructures.html)

# Les dictionnaires

un dictionnaire contient un ensemble de couples (clé ➞ valeur)
Contrairement aux listes qui sont délimitées par des crochets, on utilise des accolades pour les dictionnaires.
Un élément est définit en précisant une **clé** (une chaîne de caractères) suivie de **:** puis de la valeur associée

**clé: valeur**

Les dictionnaires sont des objets qui peuvent en contenir d’autres.
Au lieu d’héberger des informations dans un ordre précis comme les listes, un dictionnaire associe chaque objet contenu à une clé (généralement une chaîne de caractères).

Un dictionnaire est un type de données extrêmement puissant et pratique.
Il se rapproche des listes sur certains points mais, sur beaucoup d’autres, il en diffère totalement.

* La liste

Objet conteneur d’autres objets.
Pour accéder aux objets contenus, il faut connaître leur position dans la liste.
Cette position se traduit par des entiers, appelés indices, compris entre 0 (inclus) et la taille de la liste (non incluse).

* Le dictionnaire

Objet conteneur d’autres objets également.
Mais aucune structure ordonnée.
Pour accéder aux objets contenus, on n’utilise pas nécessairement des indices mais des clés qui peuvent être de bien des types distincts.

=> Les parenthèses délimitent les tuples, les crochets délimitent les listes et les accolades {} délimitent les dictionnaires.

## Création et édition
Il existe deux moyens de créer des dictionnaires:

* A l’aide de la fonction “dict()”

In [66]:
mydict =dict() #creation du dictionnaire mydict
print(type(mydict))
mydict['couleur']='rouge'
mydict["name"] = "Ritu"
print(mydict)

<class 'dict'>
{'couleur': 'rouge', 'name': 'Ritu'}

* A l’aide des accolades “{}”

In [67]:
mon_dictionnaire = {"voiture": "véhicule à quatre roues", "vélo": "véhicule à deux roues"}
print(type(mon_dictionnaire))
print(mon_dictionnaire)

<class 'dict'>
{'voiture': 'véhicule à quatre roues', 'vélo': 'véhicule à deux roues'}

In [68]:
#On accède à une valeur du dictionnaire en utilisant la clé entourée par des crochets avec la syntaxe suivante :

mon_dictionnaire["voiture"]

'véhicule à quatre roues'

In [69]:
d = {}
d['a'] = '1'
d['b'] = '2'
print(d)
#Modifier la valeur de la clé a
d['a']= '3'
print(d)

{'a': '1', 'b': '2'}
{'a': '3', 'b': '2'}

* soit le dictionnaire dic suivant, Ajouter une clé "age" de valeur 20 ans et vérifier que ça était bien ajouté

In [70]:
dic = {
    'firstname': 'Jean',
    'lastname': 'Dupont'
}

print(dic['firstname'])

Jean

In [71]:
dic['age'] = '20 ans'
dic

{'firstname': 'Jean', 'lastname': 'Dupont', 'age': '20 ans'}

La méthode get permet de récupérer une valeur dans un dictionnaire et si la clé est introuvable??

vous pouvez donner une valeur à retourner par défaut ..

In [72]:
data = {"firstname": "Jean", "lastname": "Dupont","age": 30,'adresse':'Nanterre'}
print(data.get("firstname"))
print(data.get("adresse", "Adresse inconnue"))
print(data)

Jean
Nanterre
{'firstname': 'Jean', 'lastname': 'Dupont', 'age': 30, 'adresse': 'Nanterre'}

## Supprimer des clés
Comme pour les listes, il existe deux méthodes:

* A l’aide du mot clé “del”

In [73]:
data = {"firstname": "Jean", "lastname": "Dupont","age": 30}
print(data)
del(data['age'])
print(data)

{'firstname': 'Jean', 'lastname': 'Dupont', 'age': 30}
{'firstname': 'Jean', 'lastname': 'Dupont'}

* A l’aide de la méthode “pop()”

In [74]:
data = {"firstname": "Jean", "lastname": "Dupont","age": 30}
print(data)
print(data.pop('lastname'))
print(data)

{'firstname': 'Jean', 'lastname': 'Dupont', 'age': 30}
Dupont
{'firstname': 'Jean', 'age': 30}

## Parcourir un dictionnaire

### Parcours des clés

Comme les dictionnaires n’ont pas de structure ordonnée, les clés ne s’affichent pas dans l’ordre dans lequel on les a entrées.

* Il est possible de parcourir les clés d’un dictionnaire de la même manière qu’une liste.

In [75]:
data = {"firstname": "Jean", "lastname": "Dupont","age": 30}
for i in data:
    print(i)

firstname
lastname
age

* La méthode keys() de la classe dict permet d’obtenir ce même résultat:

In [76]:
data = {"firstname": "Jean", "lastname": "Dupont","age": 30}
for key in data.keys():
    print(key)

firstname
lastname
age

### Parcours des valeurs

On peut aussi parcourir les valeurs contenues dans un dictionnaire à l’aide de la méthode values() mais qui reste peu utilisée car il est plus pratique de parcourir la liste des clés, puis les valeurs correspondantes.

In [77]:
data = {"firstname": "Jean", "lastname": "Dupont","age": 30}
for val in data.values():
    print(val)

Jean
Dupont
30

In [78]:
data.values()

dict_values(['Jean', 'Dupont', 30])

Il est peut etre plus pertinent de l’utiliser dans une condition:

In [79]:
data = {"firstname": "Jean", "lastname": "Dupont","age": 30}
for val in data.values():
    #if 'Jean'== val:
     print(val)

Jean
Dupont
30

### Parcours des clés et valeurs simultanément
Pour avoir en même temps les clés et les valeurs on utilise la méthode items().

In [80]:
data = {"firstname": "Jean", "lastname": "Dupont","age": 30}
for key, value in data.items():
    print("la clé {0} contient la valeur {1}".format(key,value))

la clé firstname contient la valeur Jean
la clé lastname contient la valeur Dupont
la clé age contient la valeur 30

* Parcourir ce planning de salle de ciné suivant et afficher ses éléments

In [81]:
horaires = [
    {'film': 'Seul sur Mars', 'heure': 9},
    {'film': 'Astérix et Obélix Mission Cléopâtre', 'heure': 10},
    {'film': 'Star Wars VII', 'heure': 15},
    {'film': 'Time Lapse', 'heure': 18},
    {'film': 'Fatal', 'heure': 20},
    {'film': 'Limitless', 'heure': 20},
]

#à completer!

In [82]:
for film in horaires:
    print(film.get('film'))

Seul sur Mars
Astérix et Obélix Mission Cléopâtre
Star Wars VII
Time Lapse
Fatal
Limitless

In [83]:
horaires = [
    {'film': 'Seul sur Mars', 'heure': 9},
    {'film': 'Astérix et Obélix Mission Cléopâtre', 'heure': 10},
    {'film': 'Star Wars VII', 'heure': 15},
    {'film': 'Time Lapse', 'heure': 18},
    {'film': 'Fatal', 'heure': 20},
    {'film': 'Limitless', 'heure': 20},
]
for i , elt in enumerate ( horaires ) :
    print (" {}- la séance: {}.". format (i , elt ) )
    for key, value in elt.items():
        print("la clé {0} contient la valeur {1}".format(key,value))

 0- la séance: {'film': 'Seul sur Mars', 'heure': 9}.
la clé film contient la valeur Seul sur Mars
la clé heure contient la valeur 9
 1- la séance: {'film': 'Astérix et Obélix Mission Cléopâtre', 'heure': 10}.
la clé film contient la valeur Astérix et Obélix Mission Cléopâtre
la clé heure contient la valeur 10
 2- la séance: {'film': 'Star Wars VII', 'heure': 15}.
la clé film contient la valeur Star Wars VII
la clé heure contient la valeur 15
 3- la séance: {'film': 'Time Lapse', 'heure': 18}.
la clé film contient la valeur Time Lapse
la clé heure contient la valeur 18
 4- la séance: {'film': 'Fatal', 'heure': 20}.
la clé film contient la valeur Fatal
la clé heure contient la valeur 20
 5- la séance: {'film': 'Limitless', 'heure': 20}.
la clé film contient la valeur Limitless
la clé heure contient la valeur 20

* Créer le dictionnaire suivant et le stocker dans une variable d1 :

    age: 20
    nom: "Doe"

Créer un second dictionnaire d2 contenant les valeurs suivantes :

    age: 22
    firstname: "John"
    adresse: "Paris"

In [84]:
#Fusionner le dictionnaire d1 dans d2

#TBD

# A l'aide d'une boucle for afficher à la fois la clé du dictionnaire d2 et sa valeur pour chaque élément

#TBD

# Supprimer la clé adresse du dictionnaire d2

#TBD

In [85]:
d1= {'age': 20 ,'nom': "Doe"}
d2= {'age': 22, 'firstname': "John",'adresse': "Paris"}
#Fusionner le dictionnaire d1 dans d2
m = d2.copy()
m.update(d1)
print(m)

# A l'aide d'une boucle for afficher à la fois la clé du dictionnaire d2 et sa valeur pour chaque élément

for key, value in m.items():
        print("la clé {0} contient la valeur {1}".format(key,value))


# Supprimer la clé adresse du dictionnaire d2

m.pop('adresse')
print(m)

{'age': 20, 'firstname': 'John', 'adresse': 'Paris', 'nom': 'Doe'}
la clé age contient la valeur 20
la clé firstname contient la valeur John
la clé adresse contient la valeur Paris
la clé nom contient la valeur Doe
{'age': 20, 'firstname': 'John', 'nom': 'Doe'}

# Les fonctions

## Pourquoi utiliser des fonctions

Une fonction est un **bout de code** que l'on va définir afin d'être **réutilisé**. Pourquoi devrions-nous faire cela ? En programmation, nous cherchons à résoudre des problèmes, et comme nous l'avons vu en découvrant l'algorithmique très souvent nous pouvons **découper** un problème en plusieurs **sous-problèmes** à résoudre et cela nous aide à rendre le problème plus simple à résoudre. Une des premières utilité d'une fonction est donc de rendre le problème plus simple a résoudre en le découpant en sous problèmes. Cela a aussi l'avantage de rendre le code plus lisible en le découpant et en nommant les actions.

## Définir et appeler des fonctions en Python

En Python, pour déclarer une fonction on procède de la manière suivante :

In [86]:
def definir_prenom():
    prenom = "Jules"

Cette fonction ne fait pas grand chose, elle déclare juste une variable `prenom` à l'intérieur de la fonction qui contiendra la chaîne de caractères _Jules_. On peut maintenant **l'appeler** dans la suite de notre programme.

In [87]:
def definir_prenom(x,y):
    #prenom = "Jules"
    #age=40
    z=y +20
    print('hello'+ x)
    return z

In [88]:
prenom1='JUles'
age1=20
print(age1)
age2=definir_prenom(prenom1,age1)
print(age2)
#print(prenom)
print('hello')
print(prenom1,age2)

20
helloJUles
40
hello
JUles 40

Il ne se passera rien de bien intéressant mais nous avons défini notre première fonction !

Les fonctions deviennent **intéressantes** lorsque l'on :

- Définit des **paramètres**
- Renvoie une **valeur de retour**

In [89]:
def dire_bonjour(prenom):
    return "Bonjour " + prenom

# Ici on range le retour de la fonction dans la variable message_bienvenue
message_bienvenue = dire_bonjour("Jules")

In [90]:
print(message_bienvenue)

Bonjour Jules

Avec cette fonction, je peux maintenant générer des messages de bienvenue différents car `dire_bonjour(prenom)` prend en **paramètre** une chaîne de caractères nommée `prenom` et **retourne** la valeur "Bienvenue _valeur de prenom_"

On peut définir autant d'arguments que l'on veut (même si ça va vite devenir compliqué si une fonction dépasse 5 arguments) et on ne pourra retourner qu'une seule valeur de retour.

Pour plus de détails : [La documentation officielle de Python](https://docs.python.org/fr/3/tutorial/controlflow.html#defining-functions)

In [ ]:
# on définit une fonction qui retourne 'autorisé ou 'Non Autorisé' pour particpier à une attraction

def controle(x):
    # Faire attention aux indentations pour indenifier la zone du code de la fonction
    if x < 120:
        print("La taille minimale pour l'attraction est de 150cm !")
        return "Non Autorisé"
    elif x > 210:
        #print("Vous êtes trop grand, vous ne pouvez pas entrer !")
        return "Non Autorisé"
    else:
        return "Autorisé"

print(controle(170))

Autorisé

In [92]:
#Interpréter ce code

l1 = ['a', 'b', 'c']
l2 = [1, 2]

print(zip(l1, l2))
print(list(zip(l1, l2)))#returns tuples inside a list by combining the lists paiwise

<zip object at 0x7c6b1c303f80>
[('a', 1), ('b', 2)]

In [ ]:
#TBD

In [93]:
client =  ['François', 'Corine', 'Anabelle', 'Sarah']
produit =  [19,  23,  21,  18 ]
prix =  [1100,  780,  800,  950]
def suivi_client(client, produit, prix):
    for elt in zip(client, produit, prix):
        print(elt)
    return zip(client, produit, prix)

print(list(suivi_client(client, produit, prix)))

('François', 19, 1100)
('Corine', 23, 780)
('Anabelle', 21, 800)
('Sarah', 18, 950)
[('François', 19, 1100), ('Corine', 23, 780), ('Anabelle', 21, 800), ('Sarah', 18, 950)]

## Les Exceptions

il y a au moins deux types d’erreurs à distinguer : les erreurs de syntaxe et les exceptions.
* Les erreurs de syntaxe -> qui sont des erreurs d’analyse du code: invalid syntax
* les Exceptions -> qui sont des erreurs détectées durant l'exécution d'un programme même si l'instruction ou l'expression est syntaxiquement correcte.
Les erreurs détectées doivent etre traitées dans vos programmes -> La plupart des exceptions ne sont pas prises en charge par les programmes, ce qui génère des messages d’erreurs..

**Try except**

Try signifie "essayer", ce mot clé permet d'essayer une action et si l'action échoue on peut lui donner d'autres instructions dans un bloc except àfin d'éviter un arret brusque et non controlé de notre application .

https://docs.python.org/fr/3.5/tutorial/errors.html

In [ ]:
v = 0
w = 5
w/v
try:
    w/v
    print("Ok pas erreur")
except:
    print("Erreur")

print('helloworld!')

In [ ]:
v = "test"
w = 5
w/v

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [ ]:
v =2
w = 0
try:
    w/v
    print("Ok pas erreur")
except TypeError:
    print("Merci d'utiliser des chiffres")
except ZeroDivisionError:
    print("Merci de ne pas diviser par 0")

Ok pas erreur

* On utilise le mot clé finally pour exécuter des instructions quelque soit les erreurs générées ou non (et même si il y a présence d'un return ). Dans tous les cas les instructions placées dans finally seront executées.

In [ ]:
try:
    pass
except:
    pass
finally:
    print("Execution")

[La Reference complete est ici](https://docs.python.org/fr/3.9/tutorial/errors.html)

# Entrées / Sorties

Lorsque l'on exécute un programme, on peut avoir besoin de lui fournir des données en entrée ou bien d'en récupérer en sortie. Plusieurs méthodes existent et nous allons en explorer deux : en utilisant la **console** et les **fichiers**.

## Console

La console (ou terminal) est une interface en ligne de commande qui permet de dialoguer avec notre machine en lui écrivant des **instructions** et en lisant les **retours** faits une fois les instructions réalisées. Lorsque nous écrivons un programme Python dans un fichier et que nous lançons ce programme via la console, les instructions du programme s'enchaîne et on reprend la main sur la console lorsque toutes les instructions du programme sont terminées. On pourrait avoir envie d'afficher des informations lors de la réalisation du programme et aussi de demander à l'utilisateur d'en saisir.

Pour **afficher** quelque chose dans la console, il suffit d'utiliser l'instruction `print()`.

Pour **récupérer une entrée utilisateur**, il suffit d'utiliser la fonction `input()`.

In [ ]:
def dire_bonjour(prenom):
    return "Bonjour " + prenom

prenom_utilisateur = input("Bonjour, comment t'appelles-tu ? ")

print(dire_bonjour(prenom_utilisateur))

## Fichiers

Parfois nous aurons aussi besoin de lire ou d'écrire dans des fichiers. Dans les deux cas, il faudra ouvrir le fichier et lire ou écrire dedans.

Pour ouvrir un fichier il faut utiliser la fonction `open()` et lui donnant en argument l'emplacement du fichier et le mode (façon dont on va utiliser le fichier). Pour le mode, on peut utiliser `'r'` pour lire, `'w'` pour écrire, '`a`' pour écrire à la fin ou '`r+`' pour lire et écrire.

### Lire

Ci dessous un exemple de lecture de la première ligne d'un fichier markdown. On utilisera la fonction `readline()` pour récupérer le contenu d'une ligne du fichier que nous souhaitons lire.

In [ ]:
f = open('cours.md', 'r')
print(f.readline())
f.close()

Si l'on veut lire toutes les lignes du fichier on peut écrire le code suivant :

In [ ]:
f = open('cours.md', 'r')

for line in f:
    print(line)

f.close()

Dans cet exemple, il est important de noter que l'on ouvre le fichier avant de lire ses lignes et une fois la lecture terminée, on le ferme avec la fonction `close()`. On peut simplifier ce fonctionnement grâce à l'instruction `with` qui fermera automatiquement le fichier pour nous :

In [ ]:
with open('cours.md', 'r') as f:
    for line in f:
        print(line)

print('end')

### Ecrire

Ci dessous un exemple d'écriture d'une ligne dans fichier texte. On utilisera la fonction `write()` pour écrire du contenu dans un fichier.

In [ ]:
f = open('./output.txt', 'w')
f.write('Mon premier fichier écrit en Python')
f.close()

# Modules et Packages

On regroupe des fonctions dans un fichier (ou aussi script) python, on crée un ensemble de fonctions que l'on nomme " module ".

Lorsque l'on cherche à regrouper des modules, on parle de package .

**Les modules de python**

Voici une liste de modules de base que vous serez amené un jour ou l'autre à utiliser.

* random   : fonctions permettant de travailler avec des valeurs aléatoires
* math     : toutes les fonctions utiles pour les opérations mathématiques (cosinus,sinus,exp,etc.)
* sys      : fonctions systèmes
* os       : fonctions permettant d'interagir avec le système d'exploitation
* time     : fonctions permettant de travailler avec le temps
* calendar : fonctions de calendrier
* profile  : fonctions permettant d'analyser l'execution des fonctions
* urllib2  : fonctions permettant de récupérer des informations sur internet
* re       : fonctions permettant de travailler sur des expressions réguliè

**Les Packages**
Pour créer votre propre package, il faut créer dans le même dossier que votre programme - un dossier portant le nom de votre package. par exmple " utils ".

Dans ce dossier, créer le fichier : __init__.py , cela indique à python qu'il s'agit d'un package . Ce fichier peut être vide, seule sa présence est importante.

Ensuite créer un fichier toujours dans ce réportoire utils avec votre code d'application python exemple: " operations.py "



![image.png](attachment:image.png)

et dans utils:

![image-2.png](attachment:image-2.png)

Afin d'accéder et d'utiliser les différents fichier du projet à partir du fihcier fiche.py il faut déclarer les modules

In [ ]:
from func import *
from utils.operations import ajoute_deux

[La Reference complete est ici](https://docs.python.org/fr/3/tutorial/modules.html)

In [ ]:

from math import *
x=0.1
cos(x)

0.9950041652780258

In [ ]:
list.