# Exercice 1:  

1-  Remplir une liste d'apprenants, afficher le nombre des enregistrés ainsi que le premier et le dernier de la liste .

2-  Ajouter, ensuite, un nouvel apprenant et afficher la liste finale

In [ ]:

#TBD
students = ["Eliz","Reetika","samia","niaaz","gauthier","yasmina"]
students.append("sebastien")
print(students)

['Eliz', 'Reetika', 'samia', 'niaaz', 'gauthier', 'yasmina', 'sebastien']

* supprimer des élements d'une liste:

1- avec del : del variable_a_supprimer.

2- avec la méthode remove: qui prend en paramètre l'élément (et non pas l'indice de l'élément à supprimer (pop).

In [ ]:
#TBD
del students[0] #deletes element from specific position
print(students)

['Reetika', 'samia', 'niaaz', 'gauthier', 'yasmina', 'sebastien']

In [ ]:
studnets.pop#removes element from the end
print(studnets)

['Eliz', 'Reetika', 'samia', 'niaaz', 'gauthier', 'yasmina']

Pour plus de détails : [La documentation officielle de Python](https://docs.python.org/fr/3/tutorial/controlflow.html#the-range-function)

# Exercice 2:

soit la liste suivante:

weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

Suivre les instructions ci dessous:

In [ ]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']
# Afficher le premier element de la liste
#TBD
print(weekdays[0])

#Afficher les elements 0 (inclus) à 3 (exclus)
#TBD
print(weekdays[0:3])

#Afficher avec un pas de 2 (les indices: 0,2,4)
#TBD
print(weekdays[0:5:2])


#Afficher la liste inversée
#TBD
print(weekdays[::-1])

#Afficher la liste triée
#TBD
print(sorted(weekdays))
# weekdays.reverse()#inline changes, cannot work with print and reverse in one statement
# print(weekdays)

#Afficher la liste inversement triée
print(sorted(weekdays,reverse=True) )

print(weekdays)

mon
['mon', 'tues', 'wed']
['mon', 'wed', 'fri']
['fri', 'thurs', 'wed', 'tues', 'mon']
['fri', 'mon', 'thurs', 'tues', 'wed']
['wed', 'tues', 'thurs', 'mon', 'fri']
['mon', 'tues', 'wed', 'thurs', 'fri']

[5, 4, 3, 2, 1]

# Exercice 3:

soit cette liste:

a=  [0,3,1]

suivre les instructions ci dessous:

In [ ]:
a=[0,3,1]
# creer un tuple t à partir de la liste a et afficher son length
t = tuple(a)
print(len(t))

# compter le nombre d'instances de 0 dans t
print(t.count(0))

# trouver l'index de la première instance de cet element trouvé:
print(t.index(0))
print(t.index(3))

# Que remarquez vous si vous lancer la commande cidessous:
#t[2] = 2 ('tuple' object does not support item assignment)

#Ajouter au tuple t, les 2 elements (3, 4)

t = t+(3,4)
print(t)
#trier le tuple t
print(type(sorted(t)))
print(type(t))

3
1
0
1
(0, 3, 1, 3, 4)
<class 'list'>
<class 'tuple'>

[La Reference complete est ici](https://docs.python.org/fr/3/tutorial/datastructures.html)

# Exercice 4:

Créer le dictionnaire suivant et le stocker dans une variable d1 :

    age: 20
    nom: "Doe"

Créer un second dictionnaire d2 contenant les valeurs suivantes :

    age: 22
    firstname: "John"
    adresse: "Paris"

continuer les instructions ci dessous:

In [ ]:
d1 = dict()
d1 = {'age':20,'nom':"Doe"}
d2 = {'age':22,'firstname':"John",'adresse':"Paris"}


#Fusionner le dictionnaire d1 dans d2
d2.update(d1)#can be done by making shallow copy .copy()
print(d2)


# A l'aide d'une boucle for afficher à la fois la clé du dictionnaire d2 et sa valeur pour chaque élément
for key,value in d2.items():
    print(key,value)

# Supprimer la clé adresse du dictionnaire d2
d2.pop('adress', None)
del d2['adresse']
d2

{'age': 20, 'firstname': 'John', 'adresse': 'Paris', 'nom': 'Doe'}
age 20
firstname John
adresse Paris
nom Doe

{'age': 20, 'firstname': 'John', 'nom': 'Doe'}

# Exercice 5:

Coder une fonction duplicate_last_item qui prend une liste en argument et qui lui rajoute le dernier élément.

par exemple si l = [1, 2, 3] après application de la fonction l doit être égale à [1, 2, 3, 3]

In [ ]:
def duplicate_last_item(l):
    l.append(l[-1])
    return l

l = [1, 2, 3]
duplicate_last_item(l)

[1, 2, 3, 3]

# Exercice 6:

Coder une fonction multiply_liste qui prend en argument une liste et retourne une liste dont tous les éléments sont multipliés par un coefficient 𝛼 donné en argument

In [ ]:
def multiply_list(l, alpha):
    new_list = []
    for i in l:
        new_list.append(i*alpha)
    return new_list,new_list*alpha

l = [1, 2, 3]
alpha = 2
multiply_list(l, alpha)

([2, 4, 6], [2, 4, 6, 2, 4, 6])

In [ ]:
#Bonus:
#Coder une fonction filter_even_values qui filtre toutes les valeurs paire d'une liste

def filter_even_values(liste):
    for i in liste:
      if i%2 == 0:
        liste.remove(i)
    return liste


l = [1, 2, 3, 4, 5, 6]
filter_even_values(l)

[1, 3, 5]

# Exercice 7:

Coder la fonction is_adult qui affiche "mineur" si le nombre en entré est inférieur à 18, "adulte" si supérieur ou égale à 18 et inférieur à 65 et "senior" sinon

In [ ]:
def is_adult(age):
  if age < 18:
    return "minor"
  elif( age >= 18 and age < 65):
    return "adult"
  else:
    return "senior"

age = int(input())
is_adult(age)

16

'minor'

# Bonus:

## Exercice 8:

coder la fonction average qui prend en argument une liste de nombre et qui retourne la moyenne de celle-ci. On utilisera une boucle for obligatoirement

In [ ]:
def average(a):
  sum = 0
  for element in a:
    sum += element
  avg = sum/len(a)
  return avg

n = int(input("Enter number of elements : "))
a = list(map(int, input("\nEnter the numbers : ").strip().split()))[:n]
print(average(a))

Enter number of elements : 5

Enter the numbers : 1 2 3 4 5
3.0

22

## Exercice 9:

 Faire une fonction reverse_string qui prend en argument une chaîne de caractère et qui retourne la chaîne retournée.

In [ ]:
#to reverse a string
s = input().strip().split()
print(type(s))
print(len(s))
s1 = ""
for i in range(len(s)-1,-1,-1):
  s1 = s1 + s[i] +" "
  print(i)
print(s1)

i am a boy
<class 'list'>
4
3
2
1
0
boy a am i

projet1: Fizz Buzz
- Écrire un programme qui imprime les numéros de 1 à 100. Mais pour les multiples de
trois imprimer "Fizz" au lieu du nombre et pour les multiples de cinq imprimer "Buzz".
Pour les nombres qui sont des multiples de trois et cinq imprimer "FizzBuzz".

In [ ]:
for i in range(1,101):
  if((i%3 == 0 and i%5 == 0)):
    print("fizzbuzz")
  elif i%3 == 0:
    print("Fizz")
  elif i%5 == 0:
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
fizzbuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
fizzbuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
fizzbuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
fizzbuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
fizzbuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
fizzbuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

Projet 2: Compter les mots dans une chaîne
- Compte le nombre de mots individuels dans une chaîne. Pour plus de complexité lire
ces chaînes à partir d'un fichier texte et générer un summary.

In [ ]:
text = " There was a girl far far away in a far away land and the land was so so intresting for her to live in it"
res = {}
for i in text.split():
  if i not in res:
    res[i] = 1
  else:
    res[i] += 1

print(res)

{'There': 1, 'was': 2, 'a': 2, 'girl': 1, 'far': 3, 'away': 2, 'in': 2, 'land': 2, 'and': 1, 'the': 1, 'so': 2, 'intresting': 1, 'for': 1, 'her': 1, 'to': 1, 'live': 1, 'it': 1}